<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">News Ruse</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/saved">Saved Articles</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="caption">
    <h1>News Ruse</h1>
    <p>The Daily Skimm Edition</p>
  </div>
</div>


  <div class="container-fluid article-container">
  </div>
   
  </div>

<footer class="footer">
  <div class="container">
  <p>The Daily Skimm Mongo Scrapper</p> 
  </div>
</footer>

  

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../public/js/saved.js"></script>
